<http ng-app="MyApp">

    <head>
        <title>Home</title>
        <script src="scripts/vendor/angular.js"></script>
        <script src="scripts/vendor/firebase.js"></script>
        <script src="scripts/vendor/firebase-simple-login.js"></script>
        <script src="scripts/vendor/angularfire.js"></script>
    </head>

    <body>
        <div ng-controller="MyController">
            <button ng-show="loginObj.user" ng-click="logout()" style="float: right">logout</button>
            <h1>hello.</h1>
            <h5>{{ status }}</h5>
            <div ng-hide="loginObj.user">
                <input type="email" ng-model="userlogin.email" placeholder="email" />
                <input type="password" ng-model="userlogin.password" placeholder="password" />
                <button ng-click="login()">login</button>
            </div>
            <div ng-show="loginObj.user">
                <span>{{ main.msg }}</span> <br/>
                <input ng-model="main.msg" type="text"/> <br/>
                <button ng-click="doTest()">Do Test</button>
            </div>
        </div>
        <script>
            var myApp = angular.module("MyApp", ["firebase"]);

            function MyController($scope, $firebase, $firebaseSimpleLogin) {

                $scope.msg = 'Hello Controller!';


                var dataRef = new Firebase("https://jkalweit.firebaseio.com");
                $scope.loginObj = $firebaseSimpleLogin(dataRef);


                $scope.doTest = function () {
                    $scope.main.msg = 'Hello Function!';
                    $scope.main.$save();
                };

                $scope.login = function () {
                    $scope.loginObj.$login('password', {
                        email: $scope.userlogin.email,
                        password: $scope.userlogin.password
                    }).then(function (user) {
                                $scope.status = '';
                            },
                            function (error) {
                                $scope.status = 'Failed to login: ' + error;
                            });
                };

                $scope.logout = function () {
                    $scope.loginObj.$logout();
                };



                var mainRef = new Firebase("https://jkalweit.firebaseio.com/jkalweit-com/main");
                mainRef.set({ msg: 'Hello from firebase!', msg2: 'Cool!' });
                $scope.main = $firebase(mainRef);

                //var todoRef = new Firebase("https://cydb.firebaseio.com/jkalweit/todo");
                //$scope.todo = $firebase(todoRef);
                //todoRef.$add({ })
            }
        </script>
    </body>

</http>
