<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>ybaic</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

</head>

<body style="padding-top: 50px;" ng-controller="MainCtrl">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ybaic</a>
            </div>
            <div class="collapse navbar-collapse" collapse="navCollapsed">
                <ul class="nav navbar-nav" ng-show="loginObj.user">

                    <li><a href="#members">members</a></li>
                    <li><a href="#meetings">meetings</a></li>
                    <!--<li><a href="" ng-click="doTest()">doTest()</a></li>-->
                </ul>
                <p class="navbar-text navbar-right" ng-hide="loginObj.user">try <a href="#">logging in</a>.</p>
                <p class="navbar-text navbar-right" ng-show="loginObj.user">{{ loginObj.user.email }} - <a ng-click="logout()" href="">logout</a></p>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div ng-view></div>


    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/angular-route.js"></script>
    <script src="scripts/vendor/firebase.js"></script>
    <script src="scripts/vendor/firebase-simple-login.js"></script>
    <script src="scripts/vendor/angularfire.js"></script>
    <script src="scripts/vendor/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="scripts/controllers.js"></script>

<script>
    var app = angular.module('app', ['ngRoute', 'firebase', 'ui.bootstrap'], null);
    app.directive('ngEnter', function () {
        return function (scope, element, attrs) {
            element.bind("keydown keypress", function (event) {
                if(event.which === 13) {
                    scope.$apply(function (){
                        scope.$eval(attrs.ngEnter);
                    });

                    event.preventDefault();
                }
            });
        };
    });
    app.filter('toArray', function () {
        'use strict';

        return function (obj) {
            if (!(obj instanceof Object)) {
                return obj;
            }

            return Object.keys(obj).map(function (key) {
                return Object.defineProperty(obj[key], '$key', {__proto__: null, value: key});
            });
        }
    });


    app.config(['$routeProvider',
        function($routeProvider) {
            $routeProvider.
                    when('/', {
                        templateUrl: 'partials/home.html',
                        controller: 'HomeCtrl'
                    }).
                    when('/meetings', {
                        templateUrl: 'partials/meetings.html',
                        controller: 'MeetingsCtrl'
                    }).when('/meeting/:id', {
                        templateUrl: 'partials/meeting.html',
                        controller: 'MeetingCtrl'
                    }).when('/members', {
                        templateUrl: 'partials/members.html',
                        controller: 'MembersCtrl'
                    }).when('/members/:id', {
                        templateUrl: 'partials/member.html',
                        controller: 'MemberCtrl'
                    }).otherwise({
                        redirectTo: '/'
                    });
        }]);

</script>

</body>
</html>