<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>ybaic - home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

</head>

<body>


    <div class="container" ng-controller="maincontroller">

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3>Edit Member</h3>
            </div>
            <div class="modal-body" ng-enter="ok()">
                <form role="form">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input ng-model="member.firstname" type="text" class="form-control" id="firstname" />
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input ng-model="member.lastname" type="text" class="form-control" id="lastname" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input ng-model="member.email" type="email" class="form-control" id="email" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input ng-model="member.phone" type="tel" class="form-control" id="phone" />
                    </div>
                    <div class="form-group">
                        <label for="membernumber">Member Number</label>
                        <input ng-model="member.membernumber" type="number" class="form-control" id="membernumber" />
                    </div>
                    <div class="form-group">
                        <label for="office">Current Office</label>
                        <select class="form-control" id="office" ng-model="member.office" ng-options="o for o in offices">
                            <option value=""></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <h1>hello ybaic.
            <small ng-hide="loginObj.user"> i don't know u.</small>
            <small ng-show="loginObj.user"> u r logged in.</small>
        </h1>
        <h5>- {{ status }} -</h5>
        <div ng-show="loginObj.user">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Office</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th class="hidden-xs">Email</th>
                            <th class="hidden-xs">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="member in ybaic.members | toArray | orderBy:'membernumber'" ng-click="editMember(member.$key, member)">
                            <td class="col-xs-1 col-sm-1">{{ member.membernumber }}</td>
                            <td class="col-xs-2 col-sm-1">{{ member.office }}</td>
                            <td class="col-xs-4 col-sm-2">{{ member.firstname }}</td>
                            <td class="col-xs-4 col-sm-2">{{ member.lastname }}</td>
                            <td class="hidden-xs col-sm-2">{{ member.email }}</td>
                            <td class="hidden-xs col-sm-2">{{ member.phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <button class="btn bt-default col-xs-12 col-md-6" ng-click="addMember()">Add Member</button>
            </div>
        </div>
    </div>



    <!-- jQuery required for bootstrap -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->

    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/firebase.js"></script>
    <script src="scripts/vendor/firebase-simple-login.js"></script>
    <script src="scripts/vendor/angularfire.js"></script>
    <script src="scripts/vendor/ui-bootstrap-tpls-0.9.0.js"></script>

<script>
    var app = angular.module('app', ['firebase', 'ui.bootstrap'], null);
    app.directive('ngEnter', function () {
        return function (scope, element, attrs) {
            element.bind("keydown keypress", function (event) {
                if(event.which === 13) {
                    scope.$apply(function (){
                        scope.$eval(attrs.ngEnter);
                    });

                    event.preventDefault();
                }
            });
        };
    });
    app.filter('toArray', function () {
        'use strict';

        return function (obj) {
            if (!(obj instanceof Object)) {
                return obj;
            }

            return Object.keys(obj).map(function (key) {
                return Object.defineProperty(obj[key], '$key', {__proto__: null, value: key});
            });
        }
    });

    function maincontroller($scope, $firebase, $firebaseSimpleLogin, $modal) {

        var dataRef = new Firebase("https://jkalweit.firebaseio.com");
        $scope.loginObj = $firebaseSimpleLogin(dataRef);

        $scope.ybaic = $firebase(new Firebase("https://jkalweit.firebaseio.com/ybaic"))
        $scope.members = $scope.ybaic.$child('members');


        $scope.addMember = function () {
            $scope.editMember(null, {});
        }
        $scope.deleteMember = function (key) {
            if(confirm('Are you sure you want to delete this member?')) {
                $scope.members.$remove(key);
            }
        }
        $scope.editMember = function (key, member) {
            $scope.editmember = member;
            var modalInstance = $modal.open({
                templateUrl: 'myModalContent.html',
                controller: MemberEditCtrl,
                resolve: {
                    member: function () {
                        return $scope.editmember
                    }
                }
            });

            modalInstance.result.then(function (member) {
                if(!key) {
                    $scope.members.$add(member).then(function() {
                                $scope.status = 'Member added.';
                            },
                            function(error) {
                                $scope.status = 'FAILED to add member: ' + error;
                            }
                    );
                } else {
                    $scope.members.$child(key).$set(member).then(function() {
                                $scope.status = 'Saved changes to member.'
                            },
                            function(error) {
                                $scope.status = 'FAILED to saved changes to member: ' + error;
                            }
                    );
                }
            }, function () {
                $scope.status = 'Edit canceled.'
            });
        };


        var MemberEditCtrl = function ($scope, $modalInstance, member) {

            $scope.member = {};
            angular.copy(member, $scope.member);

            $scope.offices = ['President', 'VP', 'Suckretary', 'IC'];
            $scope.committees = ['IC'];

            $scope.ok = function () {
                $modalInstance.close($scope.member);
            };

            $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
            };
        };



    }
</script>

</body>
</html>