<div class="container">

    <div class="jumbotron">
        <h1>York Billionaires Association <small>Investment Club</small></h1>
        <!--<p>this is a custom app for an investment club.</p>-->


        <h5>-- {{ status }} --</h5>

        <div ng-hide="loginObj.user">
            <h3>Try logging in:</h3>
            <div class="row">
                <form class="col-xs-12 col-md-6">
                    <input class="form-control" style="width: auto; display: inline" ng-disabled="logindisabled" type="email" ng-model="userlogin.email" placeholder="email" />
                    <input class="form-control" style="width: auto; display: inline" ng-disabled="logindisabled" type="password" ng-model="userlogin.password" placeholder="password" />
                    <button class="btn btn-default" ng-disabled="logindisabled" type="submit" ng-click="login()">Login</button>
                </form>
            </div>
            <!--<p>-->
                <!--or login with <a href="" ng-click="loginGoogle()">google+</a>.-->
            <!--</p>-->
        </div>

        <div ng-show="loginObj.user">
            <h3>{{ loginObj.user.email }} is logged in.</h3>
        </div>

    </div>

</div>
