<div class="container">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Edit Investment</h3>
        </div>
        <div class="modal-body" ng-enter="ok()">
            <form role="form">
                <div class="form-group">
                    <label for="investmentnumber">Investment Number</label>
                    <input ng-model="investment.investmentnumber" type="number" class="form-control" id="investmentnumber" />
                </div>
                <div class="form-group">
                    <p class="input-group">
                        <label for="date">Date</label>
                        <input id="date" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="investment.date" is-open="opened" min="2013-05-01" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <select class="form-control" ng-model="investment.type" id="type">
                        <option value="Stock">Stock</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input ng-model="investment.name" type="text" class="form-control" id="name" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input ng-model="investment.description" type="text" class="form-control" id="description" />
                </div>
                <div class="form-group">
                    <label for="units">Units</label>
                    <input ng-model="investment.units" type="text" class="form-control" id="units" />
                </div>
                <div class="form-group">
                    <label for="unitprice">Unit Price</label>
                    <input ng-model="investment.unitprice" type="text" class="form-control" id="unitprice" />
                </div>
                <div class="form-group">
                    <label for="tradefees">Trade Fees</label>
                    <input ng-model="investment.tradefees" type="text" class="form-control" id="tradefees" />
                </div>
                <div class="form-group">
                    <label for="total">Total</label>
                    <input ng-model="investment.total" type="text" class="form-control" id="total" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <h1>Investments</h1>

    <h5>- {{ status }} -</h5>
    <div ng-show="loginObj.user">
        <button class="btn btn-default" ng-click="addInvestment()">Add Investment</button>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <!--<th class="hidden-xs">Type</th>-->
                <!--this is to force update-->
                <th>Name</th>
                <th>Units</th>
                <th>Unit Price</th>
                <th class="hidden-xs">Fees</th>
                <th>Invested</th>
                <th class="hidden-xs">Current Value</th>
                <th class="hidden-xs">Net Change</th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="investment in ybaic.investments | toArray | orderBy:'investmentnumber'">
                <td class="col-xs-1 col-sm-1"><a ng-click="editInvestment(investment.$key, investment)">{{ investment.investmentnumber }}</a></td>
                <td class="col-xs-2 col-sm-1">{{ investment.date | date:'MM/dd/yy' }}</td>
                <!--<td class="hidden-xs col-sm-1">{{ investment.type }}</td>-->
                <td class="col-xs-3 col-sm-3">{{ investment.name }} {{ investment.description }}</td>
                <td class="col-xs-1 col-sm-1">{{ investment.units }}</td>
                <td class="col-xs-1 col-sm-1">{{ investment.unitprice | currency }}</td>
                <td class="hidden-xs col-sm-1">{{ investment.tradefees | currency }}</td>
                <td class="col-xs-1 col-sm-1">{{ investment.total | currency }}</td>
                <td class="hidden-xs col-sm-1">{{ investment.currentvalue | currency }}</td>
                <td class="hidden-xs col-sm-1">{{ investment.netchange | currency }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>