<div class="container">

    <div class="row">
        <h1>{{ meeting.date  | date:'MMMM dd, yyyy' }}</h1>
    </div>
    <div class="row"><h3>{{ meeting.location }}</h3></div>
    <div class="row">
        <h4>Hosts: </h4>
        <h4>{{ meeting.host1 }}</h4>
        <h4>{{ meeting.host2 }}</h4>
    </div>

    <br />

    <div class="row">
        <tabset>


            <tab heading="Minutes">
                <pre class="col-xs-12 col-md-6" style="margin-top: 5px">{{ meeting.minutes }}</pre>
            </tab>


            <tab heading="Attendance">
                <div style="margin: 5px;">
                    <button class="btn btn-default" ng-click="attachMembers()">Attach Members</button>
                    <button class="btn btn-default" ng-click="saveAttendance()">Save Attendance</button>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Attendance</th>
                        <th>Buy-In</th>
                        <th>Dues</th>
                        <th>Fines</th>
                        <th>Guests</th>
                        <th>Cash</th>
                        <th>Check</th>
                        <th>Draft</th>
                        <th>Note</th>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="member in meeting.attendance | toArray | orderBy:getMemberNumber">
                        <td>{{ members[member.key].membernumber }}</td>
                        <td>{{ members[member.key].firstname + ' ' + members[member.key].lastname }}</td>
                        <td><input class="form-control" type="checkbox" ng-model="member.attendance" /></td>
                        <td><input class="form-control" type="text" size="5" ng-model="member.buyin" /></td>
                        <td><input class="form-control" type="text" size="5" ng-model="member.dues" /></td>
                        <td><input class="form-control" type="text" size="5" ng-model="member.fines" /></td>
                        <td><input class="form-control" type="text" size="5" ng-model="member.guests" /></td>
                        <td><input class="form-control" type="text" size="5" ng-model="member.cash" /></td>
                        <td><input class="form-control" type="text" size="5" ng-model="member.check" /></td>
                        <td><input class="form-control" type="text" size="5" ng-model="member.draft" /></td>
                        <td><input class="form-control" type="text" size="10" ng-model="member.note" /></td>
                        <td><button class="btn btn-default" ng-click="removeMember(member.key)">X</button></td>
                    </tr>
                    </tbody>
                </table>
            </tab>


            <tab heading="Finances">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Due</h4>
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td>Buyins:</td>
                                    <td style="text-align: right">{{ finances.totals.buyins | currency }}</td>
                                </tr>
                                <tr>
                                    <td>Dues:</td>
                                    <td style="text-align: right">{{ finances.totals.dues | currency }}</td>
                                </tr>
                                <tr>
                                    <td>Fines:</td>
                                    <td style="text-align: right">{{ finances.totals.fines | currency }}</td>
                                </tr>
                                <tr>
                                    <td>Guests:</td>
                                    <td style="text-align: right">{{ finances.totals.guests | currency }}</td>
                                </tr>
                                <tr>
                                    <td><b>Total:</b></td>
                                    <td style="text-align: right"><b>{{ finances.totals.totalDue | currency }}</b></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-default" ng-click="updateFinanceTotals()">Update Totals</button>
                        <button class="btn btn-default" ng-click="saveFinances()">Save Finances</button>
                    </div>
                    <div class="col-sm-4">
                        <h4>Collected</h4>
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td>Cash:</td>
                                    <td style="text-align: right">{{ finances.totals.cash | currency }}</td>
                                </tr>
                                <tr>
                                    <td>Check:</td>
                                    <td style="text-align: right">{{ finances.totals.check | currency }}</td>
                                </tr>
                                <tr>
                                    <td>Draft:</td>
                                    <td style="text-align: right">{{ finances.totals.draft | currency }}</td>
                                </tr>
                                <tr>
                                    <td>Collected:</td>
                                    <td style="text-align: right"><b>{{ finances.totals.totalCollected | currency }}</b></td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Cash Payouts:</td>
                                    <td style="text-align: right">{{ finances.totals.cashPayouts | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <h4>Reconciliation</h4>
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td>Beginning Balance:</td>
                                    <td style="text-align: right"><input class="form-control" type="text" size="6" ng-model="finances.beginningBalance" /></td>
                                </tr>
                                <tr>
                                    <td>Bank Deposit:</td>
                                    <td style="text-align: right"><b>+{{ finances.totals.bankDeposit | currency }}</b></td>
                                </tr>
                                <tr>
                                    <td>Draft:</td>
                                    <td style="text-align: right">+{{ finances.totals.draft | currency }}</td>
                                </tr>
                                <tr>
                                    <td>Check Payouts:</td>
                                    <td style="text-align: right">-{{ finances.totals.checkPayouts | currency }}</td>
                                </tr>
                                <tr>
                                    <td>Ending Balance:</td>
                                    <td style="text-align: right"><b>={{ finances.totals.endingBalance | currency }}</b></td>
                                </tr>
                                <tr>
                                    <td>Net Change:</td>
                                    <td style="text-align: right">{{ finances.totals.netChange | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>

                <table>
                    <thead>
                        <th>Payout</th>
                        <th>Note</th>
                        <th>Type</th>
                        <th>Expense</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, payout) in payouts">
                            <td style="padding: 2px;"><input class="form-control" type="number" ng-model="payout.amount" /></td>
                            <td style="padding: 2px;"><input class="form-control" type="text" size="45" ng-model="payout.note" /></td>
                            <td style="padding: 2px;">
                                <select class="form-control" ng-model="payout.type">
                                    <option>Cash</option>
                                    <option>Check</option>
                                </select>
                            </td>
                            <td style="padding: 2px;">
                                <select class="form-control" ng-model="payout.expense">
                                    <option>Stock</option>
                                    <option>Food</option>
                                    <option>Supplies</option>
                                </select>
                            </td>
                            <td style="padding: 2px;"><button class="btn btn-default" ng-click="removePayout(key)">X</button></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td style="padding: 2px;"><button class="btn btn-default" ng-click="addPayout()">Add Payout</button></td>
                        </tr>
                    </tbody>
                </table>

            </tab>



        </tabset>
    </div>



</div>